<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- API -->
		<add key="BaseUrl" value="http://admv4qa.linways.com/lin-api/v1/fee/reports/studentwise-account-fee-report-by-receipt"/>
		<add key="ApiUserName" value="staff39"/>
		<add key="ApiPassword" value="1234"/>
		<add key="ApiKey" value="3tEhT9sc8W"/>
		<add key="ApiSecretKey" value="ANFmiPHqpce43tEDd"/>

		<!-- SQL -->
		<add key="ConnectionString"
			 value="Server=SAPSERVER-1;Database=RevaIncomingPayment;User Id=sa;Password=Welcome1#;TrustServerCertificate=True;" />

		<!-- Default Start Date -->
		<add key="DefaultStartDate" value="01-01-2026"/>

	</appSettings>
</configuration>
