<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConnection"
			 connectionString="Server=SAPSERVER-1;Database=REVA_PORTAL_LIVE;User Id=sa;Password=Welcome1#;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- SMTP Settings -->
		<add key="SmtpServer" value="smtp.office365.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="FromEmail" value="Rupurchase@reva.edu.in"/>
		<add key="Username" value="Rupurchase@reva.edu.in"/>
		<add key="Password" value="Reva@1234"/>

		<!-- Hardcoded Test Emails -->
		<add key="ToEmail" value="navineshargit@gmail.com"/>
		<add key="CcEmail" value="navineshn103@gmail.com"/>
	</appSettings>
</configuration>
