<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <add key="Server" value="SAPSERVER-1"/>
    <add key="CompanyDB" value="REVA_LIVE"/>
    <add key="DbUserName" value="sa"/>
    <add key="DbPassword" value="Welcome1#"/>
    <add key="SapUserName" value="manager"/>
    <add key="SapPassword" value="1234"/>
    <add key="LicenseServer" value="SAPSERVER-1:30000"/>

  </appSettings>

</configuration>
